<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: title }) %>
</head>
<body>
    <%- include('../partials/header') %>
    <section class="container">
    <% locals.recipes.forEach(function(recipe) { %>
    <a href="/<%= recipe.slug %>">
        <article class="card">
            <img class="card__image card__image--lazy" src="" data-src="<%= recipe.imageSrc %>">
            <section class="card__content">
                <section class="card__title"><%= recipe.name %></section>
                <section class="card__footer">
                    Ingredients: <%= recipe.ingredientCount %>
                </section>
            </section>
        </article>
    </a>
    <% }); %>
    </div>

    <script src="/js/main.js"></script>
</body>
</html>