<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: title }) %>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="container">
    <% locals.recipes.forEach(function(recipe) { %>
    <a href="/<%= recipe.slug %>">
        <article class="card">
            <span><%= recipe.name %></span>
            <section class="footer">
                <div>Ingredients: <%= recipe.ingredientCount %></div>
            </section>
        </article>
    </a>
    <% }); %>
    </div>
</body>
</html>